#body{
    margin: 0;
    padding: 0;
}

.main{
    display:flex;
    height: 100vh;
}


.sidebar{
    /* border: 1px solid gray; */
    border-radius: 15px;
    width: 23%;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 10px  20px  10px   lightgrey;
 
}


.sidebar img{ 
    border-radius: 50%;
    height:130px;
    width: 130px;
    margin: 30px 60px;
}


.sidebar li{
    margin-top: 30px;
    list-style: none;
}

.sidebar li a{
    text-decoration: none;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px 10px;
}


.sidebar li a:hover{
    font-size: 25px;
    font-weight: 600;
}


.container{
    margin-top: 10px;
    position: relative;
    /* border: 1px solid gray; */
    border-radius: 20px;
    width:70%;
    padding:10px;
    
}

.container .item1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    padding:10px;
    /* border: 2px solid black; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}
.container .item2{
    padding:10px;
    /* border: 2px solid  green; */
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 10px;

}


.container .item2 img{
    height:340px;
    width: 100%;
    border-radius: 20px;
}


.card{
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px lightblue;
    height: 150px;
    color: rgba(49, 33, 82, 0.687);
   
}


.card :hover{
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}


.graph{
    border: 2px solid red;
    width:70%;
    position: relative;   
}


